$ns: 'idf-filter-toolbar';

.#{$ns}-container {
  height: 138px;
  border-bottom: 1px solid #ECECEC;
  display: flex;
  transition: height 400ms;
}

.#{$ns}-scrollable {
  flex: 1 1 100px;
  overflow: hidden;
  overflow-y: scroll;
}

.#{$ns}-content {
  padding: 8px 8px 0;
}

.#{$ns}-item {
  display: inline-block;
  margin: 0 12px 8px 0;

  label {
    display: block;
  }

  input,
  select {
    display: block;
  }
}

@media (max-width: 400px) {
  .#{$ns}-item {
    width: 100%;
  }
}

@media (min-width: 400px) and (max-width: 700px) {
  .#{$ns}-item {
    width: calc(50% - 14px);
  }
}

@media (min-width: 700px) {
  .#{$ns}-item {
    width: 260px;
  }
}

.#{$ns}-apply-container {
  padding: 16px;
  border-left: 1px solid #EEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width : 600px) {
  .#{$ns}-container {
    height: 185px;
    flex-direction: column;
  }

  .#{$ns}-apply-container {
    display: block;
    padding: 8px;
    border-left: 0 none;
    border-top: 1px solid #EEE;
  }
}