$ns: 'idf-filter-toolbar';

.#{$ns}-container {
  max-height: 138px;
  border-bottom: 1px solid #ECECEC;
  display: flex;
}

.#{$ns}-scrollable {
  flex: 1 1 100px;
  overflow: hidden;
  overflow-y: scroll;
}

.#{$ns}-content {
  padding: 8px 8px 0;
}

.#{$ns}-item {
  display: inline-block;
  margin: 0 12px 8px 0;

  label {
    display: block;
  }

  input,
  select {
    display: block;
  }
}

.#{$ns}-apply-container {
  padding: 16px;
  border-left: 1px solid #EEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
}