$ns: 'idf-person-view';

.#{$ns} {
  display: flex;
  flex-direction: column;
}

.#{$ns}-content {
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;
}

.#{$ns}-items {
  flex: 1 1 100px;
  overflow-y: scroll;
  background: rgb(238, 238, 238);
}

.#{$ns}-data > div {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.#{$ns}-data-group-name {
  font-weight: 600;

  &:after {
    display: inline-block;
    content: ":";
  }
}

.#{$ns}-data-title {
  overflow: hidden;
  width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: width 400ms;
  transition-delay: 400ms;
  margin-right: 8px;
  font-style: italic;
  display: inline-block;
  margin-bottom: -6px;
}

.#{$ns}-data:hover .#{$ns}-data-title {
  width: 64px;
}

.#{$ns}-data-gender-icon {
  &.Male:after {
    display: inline-block;
    content: "Male"
  }
  &.Feale:after {
    display: inline-block;
    content: "Female"
  }
}

.#{$ns}-footer {
  box-shadow: 4px 1px 2px 1px #DDD;
  border-top: 1px solid #e5e5e5;
  padding: 8px;
  z-index: 2;
  position: relative;
}

@keyframes grid-show-animation {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes list-show-animation {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.#{$ns}-grid {
  > div {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 8px;
    animation: grid-show-animation 200ms ease-in 0s 1 normal none running;
  }

  .cellListEvenItem,
  .cellListOddItem {
    width: calc(100% - 9px);
    margin: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    border-radius: 4px;
    background: #FFF;

    @media (min-width: 600px) and (max-width: 900px) {
      width: calc(50% - 18px);
    }

    @media (min-width: 900px) {
      width: calc(33.33% - 18px);
    }
  }

  .#{$ns}-cell {
    header {
      border-bottom: 1px solid #EFEFEF;
      font-weight: 600;

      figure {
        margin: 8px;
      }
    }

    section {
      padding: 8px;
      border-bottom: 1px solid #EFEFEF;

      .#{$ns}-data {
        margin-bottom: 8px;
      }
    }

    footer {
      padding: 8px;

      button {
        margin-right: 8px;
      }
    }
  }
}

.#{$ns}-list {
  > div {
    animation: list-show-animation 200ms ease-in 0s 1 normal none running;
  }

  .#{$ns}-cell {
    border-bottom: 1px solid #EEE;
    background: #FFF;
    overflow: hidden;
    margin-bottom: 8px;

    &:first-child {
      margin-top: 8px;
    }

    header {
      border-bottom: 1px solid #EFEFEF;
      font-weight: 600;

      figure {
        display: flex;
        align-items: center;
        margin: 8px 16px;

        img {
          margin-right: 16px;
        }
      }
    }

    section {
      padding: 16px;
      display: flex;
      border-bottom: 1px solid #EFEFEF;

      .#{$ns}-data {
        flex: 1 1 100px;
        margin-right: 8px;
      }
    }

    footer {
      padding: 8px 16px 8px;

      button {
        margin-right: 8px;
      }
    }
  }
}